In [1]:
from data_prep import DataPrep

In [6]:
dp = DataPrep()

In [8]:
dp.read_data('gasprices.csv')
dp.clean_data()
dp.forwardfill_data()

           date  kursunsuz 95  motorin
0    2022-09-02         20.13    26.92
1    2022-09-03         18.66    24.52
2    2022-09-06         19.23    25.22
3    2022-09-07         19.23    25.99
4    2022-09-08         19.23    24.86
..          ...           ...      ...
166  2023-08-16         37.71    38.38
167  2023-08-18         37.71    36.87
168  2023-08-19         37.74    36.90
169  2023-08-22         37.74    37.90
170  2023-08-26         37.78    37.93

[171 rows x 3 columns]

In [9]:
dp.data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          171 non-null    datetime64[ns]
 1   kursunsuz 95  171 non-null    float64
 2   motorin       171 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.3 KB

In [5]:
dp.data.Date = pd.to_datetime(dp.data.Date)

min_date = dp.data.Date.min()
max_date = dp.data.Date.max()

NameError: name 'pd' is not defined

In [ ]:
max_date

Timestamp('2023-08-16 00:00:00')

In [ ]:

import pandas as pd
date_range = pd.date_range(min_date, max_date)
list(date_range)

[Timestamp('2023-07-28 00:00:00', freq='D'),
 Timestamp('2023-07-29 00:00:00', freq='D'),
 Timestamp('2023-07-30 00:00:00', freq='D'),
 Timestamp('2023-07-31 00:00:00', freq='D'),
 Timestamp('2023-08-01 00:00:00', freq='D'),
 Timestamp('2023-08-02 00:00:00', freq='D'),
 Timestamp('2023-08-03 00:00:00', freq='D'),
 Timestamp('2023-08-04 00:00:00', freq='D'),
 Timestamp('2023-08-05 00:00:00', freq='D'),
 Timestamp('2023-08-06 00:00:00', freq='D'),
 Timestamp('2023-08-07 00:00:00', freq='D'),
 Timestamp('2023-08-08 00:00:00', freq='D'),
 Timestamp('2023-08-09 00:00:00', freq='D'),
 Timestamp('2023-08-10 00:00:00', freq='D'),
 Timestamp('2023-08-11 00:00:00', freq='D'),
 Timestamp('2023-08-12 00:00:00', freq='D'),
 Timestamp('2023-08-13 00:00:00', freq='D'),
 Timestamp('2023-08-14 00:00:00', freq='D'),
 Timestamp('2023-08-15 00:00:00', freq='D'),
 Timestamp('2023-08-16 00:00:00', freq='D')]

In [ ]:
df_date_range = pd.DataFrame({'Date': list(date_range)})

merged = pd.merge(left=dp.data, right=df_date_range, how="right", on=['Date'])
merged.ffill()

         Date  Kursunsuz 95  motorin
0  2023-07-28         36.05    35.35
1  2023-07-29         36.09    35.40
2  2023-07-30         36.09    35.40
3  2023-07-31         36.09    35.40
4  2023-08-01         36.09    36.47
5  2023-08-02         36.09    36.51
6  2023-08-03         36.09    36.51
7  2023-08-04         36.13    36.51
8  2023-08-05         36.13    36.55
9  2023-08-06         36.13    36.55
10 2023-08-07         36.13    36.55
11 2023-08-08         36.13    36.55
12 2023-08-09         36.13    36.55
13 2023-08-10         36.13    36.55
14 2023-08-11         36.13    38.35
15 2023-08-12         36.16    38.38
16 2023-08-13         36.16    38.38
17 2023-08-14         36.16    38.38
18 2023-08-15         36.16    38.38
19 2023-08-16         37.71    38.38

In [1]:
from forecast import Forecast
fc = Forecast()

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

In [2]:
fc.prophet_fc()

AttributeError: 'Forecast' object has no attribute 'input_data'

In [3]:
fc.input_data

AttributeError: 'Forecast' object has no attribute 'input_data'